* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#1a33d6, #7380d3, #1a33d6)
}

.form {
  width: 400px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
  background: #292c2f;
}

footer {
  position: fixed;
  bottom: 0;
}

.anchor {
  text-decoration: none;
  color: #212529;
}
.anchor:hover {
  color: #15171a;
  cursor: pointer;
}